<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ActiproSoftware.Controls.WPF.Shared" version="20.1.0" targetFramework="net40" requireReinstallation="true" />
  <package id="ActiproSoftware.Controls.WPF.Themes.Aero" version="20.1.0" targetFramework="net40" requireReinstallation="true" />
</packages>